* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 1225px) {
  .nav-link {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  .nav-item {
    padding-right: 30px;
  }
}
.pie {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  grid-area: footer;
  border: solid 1px black;
  border-right: 0px;
  border-left: 0px;
}

.main-index {
  background-color: #308e32;
  grid-area: main;
}

/*   background-color: $bg-color; */
.main-index .contenedormain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-index .contenedormain .contenedor-img {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
}
.main-index .contenedormain .contenedor-img .img1 {
  width: 40%;
  margin: 5px;
}
.main-index .contenedormain .contenedor-img .img2 {
  width: 40%;
  margin: 5px;
}

h1 {
  font-family: "Oswald", sans-serif;
  margin-top: 60px;
  color: white;
}

p {
  margin-left: 25px;
  margin-top: 35px;
  font-size: 22px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media screen and (max-width: 768px) {
  .main-index .contenedormain .contenedor-img {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
  }
  .main-index .contenedormain .contenedor-img .img1 {
    width: 100%;
    margin: 5px auto;
  }
  .main-index .contenedormain .contenedor-img .img2 {
    width: 100%;
    margin: 5px auto;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-about {
  grid-area: main;
  background-color: #308e32;
}

.main-about .contenedormain-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #308e32;
}
.main-about .p1 {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 40px;
  color: white;
}
.main-about .imm {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: im;
  background-color: #308e32;
}
.main-about .image2 {
  width: 400px;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}
.main-about h2 {
  padding-top: 25px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: rgb(255, 255, 255);
}

@media (max-width: 413px) {
  .image2 {
    width: 300px;
  }
}
.main-services {
  grid-area: main;
  width: 100%;
  height: 100%;
  background-color: #308e32;
}

.main-services .contenedormain-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.main-services .p2 {
  margin-left: 10px;
  color: white;
  font-size: 20px;
}
.main-services .immg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: solid 0 rgb(0, 0, 0);
  margin-top: 10px;
}
.main-services .immg .imagen3 {
  height: 90%;
  width: 40%;
}
.main-services h2 {
  padding-top: 25px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: white;
}

@media (max-width: 898px) {
  .p2 {
    font-size: 15px;
  }
}
@media (max-width: 620px) {
  .p2 {
    font-size: 12px;
  }
}
.main-location {
  background-color: #308e32;
  height: 100vh;
}

.main-location .contenedormain-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main-location .contenedormain-4 .ubi {
  color: rgb(0, 0, 0);
  font-size: 40px;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: rgb(191, 26, 26);
}
.main-location .contenedormain-4 .ubi:hover {
  color: rgb(255, 255, 255);
  transition: 1s;
}
.main-location .contenedormain-4 .imagen4 {
  width: 45%;
  margin-top: 10px;
}
.main-location .contenedormain-4 h2 {
  padding-top: 25px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: white;
}

@media (max-width: 839px) {
  .imagen4 {
    width: 10%;
  }
}
.cu2 {
  background-color: #308e32;
  padding-bottom: 20px;
}
.cu2 .contenedormain-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cu2 .contenedormain-5 .logo1 {
  width: 65px;
  margin-top: 30px;
}
.cu2 .contenedormain-5 .enlace {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
  padding-top: 10px;
  font-size: 20px;
}
.cu2 .contenedormain-5 .enlace:hover {
  color: black;
  transition: 0.5s;
}
.cu2 .contenedormain-5 .logo {
  margin-top: 40px;
}
.cu2 .contenedormain-5 .num {
  color: white;
}

.cabeza {
  height: 40vh;
}

h2 {
  padding-top: 25px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: white;
}

.formulario {
  background-color: rgb(0, 0, 0);
  padding-top: 30px;
  padding-left: 80px;
  padding-bottom: 20px;
  color: white;
}
.formulario .linea {
  padding-top: 10px;
  border: none;
}
.formulario .linea .legen {
  font-size: 30px;
  color: white;
}

.cont {
  padding-bottom: 10px;
}

/*# sourceMappingURL=main.css.map */
