.nav-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 1225px) {
  .nav-link {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }

  .nav-item {
    padding-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    .navbar-brand {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
      }
    }
  }
}
