// .main-index {
//   .contenedormain {
//     .contenedor-img {
//       display: flex;
//       width: 100%;
//       flex-direction: row;
//       padding: 20px;
//       justify-content: center;

//       .img1 {
//         width: 40%;
//         margin: 5px;
//       }
//       .img2 {
//         width: 40%;
//         margin: 5px;
//       }
//     }
//   }
// }

.nav-link {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: underline;
}

@media screen and (max-width: 1225px) {
  .nav-link {
    color: rgb(0, 0, 0);
    font-size: 16px;
  }

  .nav-item {
    padding-right: 30px;
  }
}

// @media screen and (max-width: 768px) {
//   .main-index {
//     .contenedormain {
//       .contenedor-img {
//         display: flex;
//         width: 100%;
//         flex-direction: column;
//         padding: 20px;

//         .img1 {
//           width: 100%;
//           margin: 5px auto;
//         }
//         .img2 {
//           width: 100%;
//           margin: 5px auto;
//         }
//       }
//     }
//   }
// }
