@import "../var/variables";

// .grilla-aboutus {
//   display: grid;
//   grid-template-areas:
//     "header header"
//     "main im"
//     "footer footer";
//   grid-template-rows: 40vh 100vh 6vh;
//   grid-template-columns: 60% 40%;
.contenedormain-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .p1 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 40px;
    color: white;
  }
}

.main {
  grid-area: main;
  background-color: $bg-color;
}

h2 {
  padding-top: 25px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: white;
}

.imm {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: im;
  background-color: $bg-color;
}
.image2 {
  width: 400px;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 413px) {
  .image2 {
    width: 300px;
  }
}
