.cu2 {
  background-color: $bg-color;
  padding-bottom: 20px;

  .contenedormain-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo1 {
      width: 65px;
      margin-top: 30px;
    }
    .enlace {
      color: white;
      text-decoration: underline;
      text-decoration-color: black;
      padding-top: 10px;
      font-size: 20px;
    }
    .enlace:hover {
      color: black;
      transition: 0.5s;
    }
    .logo {
      margin-top: 40px;
    }
    .num {
      color: white;
    }
  }
  h2 {
    padding-top: 25px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: white;
  }
}
.cabeza {
  height: 40vh;
}

.formulario {
  background-color: rgb(0, 0, 0);
  padding-top: 30px;
  padding-left: 80px;
  padding-bottom: 20px;
  color: white;
  .linea {
    padding-top: 10px;
    border: none;
    .legen {
      font-size: 30px;
      color: white;
    }
  }
}
.cont {
  padding-bottom: 10px;
}
